@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";

body {
  background-color: #ffffff;
}

body,
button,
html,
input,
select,
textarea,
div,
p,
span,
label {
  font-family: "Roboto", "Open Sans", "Helvetica Neue", "Helvetica", "Arial",
    "sans-serif" !important;
}

html,
body {
  width: 100%;
  height: 100%;
}

body,
button,
html,
input,
select,
textarea,
div,
p,
span,
label {
  font-family: "Inter", "SFProText", "Open Sans", "Helvetica Neue", "Helvetica",
    "Arial", "sans-serif" !important;
}

input:focus {
  /* border: solid 1px #0099ff; */
  outline: none;
}

.display-none {
  display: none !important;
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.display-inline {
  display: inline;
}

/*Cursor-CSS*/

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

/*Borders*/
.b-1-blue {
  border: 1px solid #0052cc;
}

.b-1-white {
  border: 1px solid #e6e6e6;
}

/*Border-radius*/
.br-4 {
  border-radius: 4px;
}

/*Font-sizes*/

.fs-sm {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-19 {
  font-size: 19px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-40 {
  font-size: 40px;
}

/*Font-color*/

.fc-warm-grey {
  color: #999999;
}

.fc-blue {
  color: #0052cc !important;
}

.fc-dark-slate-blue {
  color: #172b4d;
}

.fc-white {
  color: #ffffff !important;
}

.fc-black {
  color: #000000;
}

.fc-blue-grey {
  color: #5e6c84;
}

.fc-red {
  color: red;
}

.fc-brownish-grey {
  color: #666666;
}

.fc-dusky-blue {
  color: #465d85;
}

/*Background-color*/

.bg-blue {
  background-color: #0052cc !important;
}

/*Width-CSS*/

.outline-none {
  outline: none !important;
}

/*Width-CSS*/

.w-150 {
  width: 150px;
}

.w-450 {
  width: 450px;
}

.w-250 {
  width: 250px;
}

.z-index-100 {
  z-index: 100;
}
/* ::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  width: 0.1rem;
  height: 0.2rem;
}
::-webkit-scrollbar-track-piece {
  background-color: #ecf0f7;
}
::-webkit-scrollbar-thumb:horizontal {
  background-color: #3163f0;
}

::-webkit-scrollbar-thumb:vertical {
  display: none;
}
.text-transform-capitalize {
  text-transform: capitalize !important;
}

.input-border {
  border: solid 1px #dfe1e6;
  border-radius: 2px;
  background-color: #fafbfc;
}

.checkbox-border {
  border-radius: 2px;
  border: solid 1px #b9bbc2;
  background-color: #ffffff;
}

.subscription-plan-card-shadow {
  box-shadow: 0px 3px 21px 0 rgba(0, 0, 0, 0.07);
}
.react-tabs__tab {
  border-bottom: none;
  border-color: none;
  color: #3163f0;
  border: none;
}
.react-tabs__tab-list {
  border-bottom: none;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04aa6d;
  color: white;
}
.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 26px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.slider.round:before {
  border-radius: 60%;
}
.Dropdown-control {
  /* height: 80px; */
  border: none !important;
  background: #f5f6fd !important;
  border-radius: 6px !important;
}
.Dropdown-root {
  width: 100%;
  max-width: 453px;
  border: 1px solid #d5e0ff !important;
  background: #f5f6fd !important;
  border-radius: 6px !important;
  font-size: 0.8rem;
  font-weight: 600;
}
/* /////////////////// */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 1px;
  background-color: #848484;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ffffff;
  border: 1px solid #3163f0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #2049b9;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -3px;
  bottom: 1px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.select {
  border: 1px solid #b2c5fa;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  color: #303134;
  outline: none;
  white-space: nowrap;
  padding-left: 5px;
  height: 32px;
}
.select-dropdown {
  border: 1px solid #b2c5fa;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #303134;
  padding-left: 5px;
  height: 32px;
}

.select-filter {
  background: #f5f6fd 0% 0% no-repeat padding-box;
  border: 1px solid #d5e0ff;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #b7b7b7;
  height: 34px;
  padding-left: 9px;
  width: 100%;
  max-width: 352px;
  outline: none;
}
@media (min-width: 300px) and (max-width: 414px) {
  .select-filter {
    background: #f5f6fd 0% 0% no-repeat padding-box;
    border: 1px solid #d5e0ff;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    color: #b7b7b7;
    height: 34px;
    padding-left: 9px;
    width: 100%;
    max-width: 299px;
  }
}

.options-select {
  background: #f5f6fd 0% 0% no-repeat padding-box;
  border: 1px solid #d5e0ff;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #b7b7b7;
  height: 34px;
  padding-left: 9px;
  width: 100%;
  max-width: 352px;
  outline: none;
}

.dates {
  display: flex;
  justify-content: space-between;
  color: #7c828a;
  font-size: 12px;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}

.question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.question {
  text-align: left;
  font-size: 16px;
  font: normal normal medium 16px/20px Inter;
  height: 20px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #102c78;
  opacity: 1;
  padding-top: 3px;
}
.answer {
  text-align: left;
  font-size: 16px;
  text-align: left;

  margin-top: 15px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #191919;
  opacity: 1;
  padding-top: 10px;
  align-items: center;
}
.button {
  margin-right: 15px;
  margin-top: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.image {
  width: 20px;
  height: 20px;
  background-image: "/images/More.svg";
}
.app-container {
  background: #ecf0f7 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 100%;
  height: 135vh;
}
.faqs-container {
  display: flex;
  padding: 0px !important;
  display: block !important;
  margin-left: auto;
  background: #ecf0f7 0% 0% no-repeat padding-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 16px;
  height: 100vh;
  width: 90%;
  padding: 32px;
}
.faqs-list {
  width: 100%;
  list-style-type: none;
  padding: 0px;
  min-height: 80px;
}
.heading {
  margin-top: 37px;
  text-align: left;
  font: normal normal 600 28px Inter;
  letter-spacing: 0px;
  color: #1f1f1f;
  opacity: 1;
}
.faq-item {
  padding: 10px 0px 20px 30px;
  top: 188px;
  max-width: 1300px;
  margin-bottom: 50px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  border: none;
}
#Heading-section {
  display: flex;
  align-self: start;
  flex-direction: row;
  width: 87%;
  align-items: center;
  padding-bottom: 1rem;
}
.ui-margin {
  padding: 0 40px 0 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .faq-item {
    width: 100% !important;
    padding: 4px 0px 36px 10px;
  }
  .ui-margin {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .answer {
    padding-top: 22px;
    font-size: 16px;
  }
  #Heading-section {
    /* margin-top: 50px; */
    margin-right: 0px;
  }

  .faqs-container {
    padding: 0px !important;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 100%;
  }
  .app-container {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px !important;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .heading {
    width: 45px;
    height: 21px;
    margin-left: 10px;
    margin-bottom: auto;
    font: normal normal 600 18px Inter;
  }
  .faqs-container {
    width: 100%;
    margin-left: 10px;
  }
  .question {
    justify-content: center;

    padding-bottom: 40px;
    padding-left: 10px;
    display: flex;
    font-size: 14px;
  }
  .question-container {
    height: 51px;
  }
  .answer {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 29px;
    padding-top: 7px;
  }
  .image {
    margin-bottom: 14px;
  }
  .ui-margin {
    width: 100%;
    padding: 0 15px;
    padding-right: 30px;
  }
  .faq-item {
    padding: 5px 0px 32px 5px;
    margin-bottom: 22px;
  }
  /* .MuiDialog-root {
    margin: 0px !important;
    } */
}
 @media (min-width: 300px) and (max-width: 767px) {
  .app-container{
    height: 100vh;
  }
}
/*@media (min-width: 361px) and (max-width: 376px) {
  .MuiPaper-root {
    margin: 0px !important;
    height: 100%;
    max-height: max-content !important;
    top: 14% !important;
    max-width: 340px !important;
  }
}
@media (min-width: 377px) and (max-width: 767px) {
  .MuiPaper-root {
    margin: 0px !important;
    height: 100%;
    max-height: max-content !important;
    top: 10.5% !important;
    max-width: 350px !important;
  }
}

.MuiDialog-container{
 display: flex !important;
 justify-content: center !important;
 align-items: flex-start !important;
 /* margin-top: 7% !important; */
/* } */ */
.MuiDialog-scrollPaper{
  display: flex !;
  justify-content: center;
}

.scroll::-webkit-scrollbar { 
  display: none !important;  /* Safari and Chrome */
}

